h1 {
  text-align: center;
}
#arena {
  display: none;
}
.players {
  text-align: center;
  border: 3px solid #000;
}
.active-player {
  border: 3px solid green;
}
.hit {
  border: 3px solid red;
}
#end-message {
  display: none;
  text-align: center;
}
